<div class="container">
  <div *ngFor="let contact of contacts" class="contacts">

      <img *ngIf="contact.avatar; else other" [src]="contact.avatar">

      <ng-template #other>

      <mat-icon *ngIf="!contact.avatar">person</mat-icon>
      </ng-template>
      <a routerLink="/contacts/{{contact.id}}">
        {{contact.first_name}} {{contact.last_name}}
      </a>

  </div>

  <form class="example-form" (submit)="createSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>New Contact</mat-label>
      <input matInput placeholder="Enter Name" [(ngModel)]="name" name="name">
    </mat-form-field>


    <!-- <input type="submit" value="Create"> -->
    <button class="button" type="submit">
      <mat-icon type="submit">add_circle</mat-icon>
    </button>
    <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
  </form>

</div>
